<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= appName %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">

  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="icon" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" sizes="96x96" href="images/favicon-96x96.png">
  <link rel="icon" sizes="128x128" href="images/favicon-128x128.png">
  <link rel="icon" sizes="192x192" href="images/favicon.png">

  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="images/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="images/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="images/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="images/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="images/mstile-310x310.png" />

  <link rel="shortcut icon" href="images/favicon.ico"/>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div id="app"></div>
</body>
</html>
